*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    background-color: rgb(160, 133, 133);
    font-size: large;
}
#signin-form{
    float: left;
    background-color: rgb(106, 243, 253);
    width: 50%;
    height:500px;
    text-align: center;
    
}
#signin-form form{
    top: 50px;
}
#login-form{
    float: right;
    width: 50%;
    background-color: rgb(46, 241, 111);
    height: 500px;
    text-align: center;
    top: 50px;
}
