*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    /* background:radial-gradient(rgb(236, 17, 236) ,rgba(72, 247, 203, 0.932)); */
    /* background: linear-gradient(rgb(0, 247, 255),url(./nature.jpg)); */
    background-image:url(images/nature.jpg);
}
.container{

     width: 100vw;                       /* VW = VewPoart width */
     height: 100vh;

    display: grid;
    place-items:center;

  

}

.form-div{
    background-image:linear-gradient(rgba(17, 192, 236, 0.377) ,rgba(233, 51, 178, 0.377)), url(images/laptop.jpg);
    background-size: 100% 100%;
    box-shadow: 5px 10px 20px -5px #000;
    width: 50vw;
    height: 85vh;

    font-family:'Times New Roman', Times, serif;
    display: grid;
    place-items:center;
    font-size: 30px;
    color: rgb(27, 26, 26);
    font-weight: 800;
    
    } 
    .form-div h1{
    font-family:Arial, Helvetica, sans-serif;

        color: rgb(189, 4, 97);
        font-weight: 800;
    }
    .form-div label{
        font-family:Arial, Helvetica, sans-serif;
        text-shadow:1px 1px white;
        font-size: 30px;
        color: rgb(78, 21, 21);
    }
    .btn_div{
        float: left;
        margin-top: 0;
        width: 50vw;
        height:1em;
        display: flex;
        align-items: center;   
    }
    .btn_div h1{
        margin: 0 9.5rem;
        
    }
    .form-div input{
        width: 40vw;
        height: 3em;
        border-radius: 10px;
        border: none;
        font-size: 20px;
        padding: 0 10px;
        background-color: rgb(224, 241, 224);

    }
     input:hover{
        background-color: rgb(255, 255, 255);
        transition: .3 all ease;    
     }
    #btn-style #submit{
        width: 40vw;
        height:2.3em;
        color: white;
        font-size: 30px;
        margin-top: 6%;
        margin-bottom: 10%;
        border-radius: 10px;
        border: none;
        background-color:rgb(48, 194, 19);
           
    }
    #btn-style #submit:hover{
        background-color: rgb(7, 250, 35);
        transition: 1 all ease;    
     }
     
    .btn_back{
        background-color: #f3ddddef;
        font-size:25px;
        font-weight: bold;
        height: 1.5em;
        padding: 2px 10px;
        border-radius: 5px;
        display: block;
        
    }
    .btn_back a{
        text-decoration: none;
        color: red;
        text-shadow: 1.2px 1.2px red;

    } 
    #btn-style .btn_back:hover{
        background-color: rgb(248, 151, 151);
        transition: .3 all ease;    
     }
     
    .error span{
          font-family: 'Times New Roman', Times, serif;
          font-weight: bold;
          color: red; 
          text-shadow: 1PX 1PX red; 

    }
    .success span{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(0, 255, 0); 
        text-shadow: 1PX 1PX rgb(0, 255, 0); 
    }